@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-menu .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-menu .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-menu .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-menu .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-menu .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-menu .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.loader-box {
    width: 900px;
    height: 120px;
    margin: 100px auto;
    text-align: center;
    font-family: Consolas, Verdana;
    font-size: .75em;
}

.blue-icon {
    color: #7aa2ff;
}

.red-icon {
    color: firebrick;
}


.my-menu {
    color: darkblue;
}

    .my-menu .red-menuitem {
        background-color: #ffb3b3;
    }

        .my-menu .red-menuitem:hover {
            background-color: #c11515;
        }


.z-10 {
    z-index: 10;
}


.ml-10 {
    margin-left: 10px
}

.mt-10 {
    margin-top: 10px;
}

.mt-50 {
    margin-top: 50px;
}


div.dark-menu {
    color: #FFFFFF;
    background-color: #444;
}

.dark-menu .dark-menu-item--with-submenu:after {
    border-left-color: #d3d3d3;
}

.dark-menu .dark-menu-item--disabled,
.dark-menu .dark-menu-item {
    background-color: #444;
}

    .dark-menu .dark-menu-item--disabled:hover,
    .dark-menu .dark-menu-item:hover {
        background-color: #000000;
    }


div.pink-menu {
    color: #000000;
    background-color: #ffb3b3;
}

.pink-menu .pink-menu-item--with-submenu:after {
    border-left-color: #FFFFFF;
}

.pink-menu .pink-menu-seperator-hr {
    border-color: red;
}

.pink-menu .pink-menu-item--disabled,
.pink-menu .pink-menu-item {
    background-color: #ffb3b3;
}

    .pink-menu .pink-menu-item--disabled:hover,
    .pink-menu .pink-menu-item:hover {
        background-color: #c11515;
        color: white;
    }

.nav-tabs .nav-item a.nav-link:not(.active) {
    cursor: pointer;
}

.nav-tabs .nav-item a.nav-link {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.code-block .card-body {
    padding: 0px 10px 10px 10px;
}

.code-block {
    margin-bottom: 5px;
}

/* ================= Github Corner ================= */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,100% {
        transform: rotate(0)
    }

    20%,60% {
        transform: rotate(-25deg)
    }

    40%,80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
