@page "/OtherPage"

<ContextMenuTrigger MenuId="test">
    <p>Right-click me other page test</p>
</ContextMenuTrigger>

<ContextMenu Id="test">
    <MenuItem>Other Page Item 1</MenuItem>
    <MenuItem>Other Page Item 2</MenuItem>
    <Seperator />
    <MenuItem>Other Page Item 3</MenuItem>
</ContextMenu>

<NavLink href="/">Go to index</NavLink>