@page "/TodoList"

<h1>Todo List</h1>
<ContextMenuTrigger MenuId="todoItemsMenu">
    <ul>
        @foreach (var item in TodoItems)
        {
            <li><input type="checkbox" bind="item.IsChecked" readonly /> @item.Text</li>
        }
    </ul>
</ContextMenuTrigger>

<ContextMenu Id="todoItemsMenu">
    <MenuItem Click="@CopyClick"><i class="fas fa-file blue-icon"></i> Copy</MenuItem>
    <MenuItem Click="@DeleteClick"><i class="fas fa-trash-alt red-icon"></i> Delete</MenuItem>
</ContextMenu>

@functions{

    void CopyClick(MenuItemEventArgs e)
    {
        //Interop is required here due to current blazor limitations
        var itemIndex = RegisteredFunction.Invoke<int>("TestApp.TodoList.GetItemIndex", e.ContextMenuTargetId);
        if (itemIndex >= 0)
        {
            Console.WriteLine($"TodoItem index: {itemIndex}");
            var currentTodoItem = TodoItems.ElementAt(itemIndex);
            TodoItems.Add(new TodoItem
            {
                Text = currentTodoItem.Text + " Copy",
                IsChecked = currentTodoItem.IsChecked
            });
            StateHasChanged();
        }
    }

    void DeleteClick(MenuItemEventArgs e)
    {
        //Interop is required here due to current blazor limitations
        var itemIndex = RegisteredFunction.Invoke<int>("TestApp.TodoList.GetItemIndex", e.ContextMenuTargetId);
        if (itemIndex >= 0)
        {
            Console.WriteLine($"TodoItem index: {itemIndex}");
            var currentTodoItem = TodoItems.ElementAt(itemIndex);
            TodoItems.Remove(currentTodoItem);
            StateHasChanged();
        }
    }

    List<TodoItem> TodoItems = new List<TodoItem>
    {
        new TodoItem
        {
            Text = "Item 1",
            IsChecked = true
        },
        new TodoItem
        {
            Text="Item 2"
        }
    };

    class TodoItem
    {
        public string Text { get; set; }
        public bool IsChecked { get; set; }
    }

}