<li id="@Id" class="@ClassCalc">
    <hr class="@HrClassCalc"/>
</li>

@functions{
    protected const string DefaultCssClass = "blazor-context-menu__seperator";
    protected const string DefaultHrCssClass = "blazor-context-menu__seperator__hr";

    public string ReplaceDefaultCssClass { get; set; }
    public string ReplaceDefaultHrCssClass { get; set; }

    public string Id { get; set; }
    public string CssClass { get; set; }
    public string HrCssClass { get; set; }

    protected string ClassCalc => (ReplaceDefaultCssClass == null ? DefaultCssClass : ReplaceDefaultCssClass) + (CssClass == null ? "" : $" {CssClass}");
    protected string HrClassCalc => (ReplaceDefaultHrCssClass == null ? DefaultHrCssClass : ReplaceDefaultHrCssClass) + (HrCssClass == null ? "" : $" {HrCssClass}");
}