<li id="@Id" class="@ClassCalc">
    <hr class="@HrClassCalc"/>
</li>

@functions{
    /// <summary>
    /// Allows you to override the default css class of the menu's li seperator element for full customization.
    /// If you want to override this for all menus, then you could use <see cref="BlazorContextMenuDefaults.DefaultSeperatorCssClass"/>
    /// </summary>
    [Parameter]
    protected string OverrideDefaultCssClass { get; set; }

    /// <summary>
    /// Allows you to override the default css class of the menu's seperator hr element for full customization.
    /// If you want to override this for all menus, then you could use <see cref="BlazorContextMenuDefaults.DefaultSeperatorHrCssClass"/>
    /// </summary>
    [Parameter]
    protected string OverrideDefaultHrCssClass { get; set; }

    /// <summary>
    /// The id of the li element. This is optional
    /// </summary>
    [Parameter]
    protected string Id { get; set; }

    /// <summary>
    /// Additional css class for the menu's li seperator element. Use this to extend the default css
    /// </summary>
    [Parameter]
    protected string CssClass { get; set; }

    /// <summary>
    /// Additional css class for the menu's seperator hr element. Use this to extend the default css
    /// </summary>
    [Parameter]
    protected string HrCssClass { get; set; }

    protected string ClassCalc => (OverrideDefaultCssClass == null ? BlazorContextMenuDefaults.DefaultSeperatorCssClass : OverrideDefaultCssClass) + (CssClass == null ? "" : $" {CssClass}");
    protected string HrClassCalc => (OverrideDefaultHrCssClass == null ? BlazorContextMenuDefaults.DefaultSeperatorHrCssClass : OverrideDefaultHrCssClass) + (HrCssClass == null ? "" : $" {HrCssClass}");
}