<li class="blazor-context-submenu-item @ClassCalc" onmouseover="blazorContextMenu.OnSubMenuItemMouseOver(event, @XOffset, this);" onmouseout="blazorContextMenu.OnSubMenuItemMouseOut(event);">
    @ChildContent
</li>

@functions{
    public RenderFragment ChildContent { get; set; }
    public string ReplaceDefaultCssClass { get; set; }
    public int XOffset { get; set; } = 5;
    public string CssClass { get; set; }
    protected const string DefaultCssClass = "blazor-context-menu__item";
    protected string ClassCalc => (ReplaceDefaultCssClass == null ? DefaultCssClass : ReplaceDefaultCssClass) + (CssClass == null ? "" : $" {CssClass}");
}