<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Startup).Assembly">
        <NotFoundContent>
            <p>Sorry, there's nothing at this address.</p>
        </NotFoundContent>
    </Router>
</CascadingAuthenticationState>


@inject IComponentContext ComponentContext
@inject IJSRuntime jsRuntime
@code{
    protected override async Task OnAfterRenderAsync()
    {
        if (ComponentContext.IsConnected)
        {
            await jsRuntime.InvokeAsync<object>("TestApp_AppLoaded");
        }
    }
}