@inject IJSRuntime jsRuntime

<div class="card code-block">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <div class="card-header">
            @Title
        </div>
    }
    <div class="card-body">
        <pre><code class="language-@Language">@ChildContent</code></pre>
    </div>
</div>

@functions{
    [Parameter] public string Title { get; set; }
    [Parameter] public string Language { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("DemoApp_RunPrism");
    }
}