@page "/"

<h1>Blazor Context Menu Samples App</h1>

<!-- Menu is in Shared/MainLayout-->
<ContextMenuTrigger MenuId="indexMenu">

    <p>Right-click on this text to show a basic context menu sample</p>
    <i style="visibility:hidden" class="fas fa-exclamation"></i> @*Added to force fa load *@
</ContextMenuTrigger>

