@page "/mousebuttontriggers"

<h1>Mouse Button Triggers</h1>

<p>You can set the trigger to left or either click</p>

<div class="btn-group">

    <ContextMenuTrigger MenuId="triggerMenu" MouseButtonTrigger="MouseButtonTrigger.Left">
        <button>Click me!</button>
    </ContextMenuTrigger>

    <ContextMenuTrigger MenuId="triggerMenu" MouseButtonTrigger="MouseButtonTrigger.Both">
        <button>Click or right-click me!</button>
    </ContextMenuTrigger>

</div>

<ContextMenu Id="triggerMenu" CssClass="z-10">
    <Item>Item 1</Item>
    <Item>Item 2</Item>
    <Item>Item 3</Item>
    <Item>Item 4</Item>
    <Item>Item 5</Item>
</ContextMenu>
