.blazor-context-menu--default {
    position: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.3), 0 0 0 1px #eee;
    box-shadow: 0 10px 20px rgba(0,0,0,.3), 0 0 0 1px #eee;
    padding: 5px 0;
}


.blazor-context-menu__list {
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
}

.blazor-context-menu__seperator {
    min-width: 120px;
    color: #333;
    position: relative;
}

.blazor-context-menu__seperator__hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.blazor-context-menu__item--default {
    min-width: 120px;
    padding: 6px;
    text-align: left;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}

    .blazor-context-menu__item--default:hover {
        background-color: rgba(0,0,0,.05);
    }


.blazor-context-menu__item--with-submenu:after {
    content: "";
    position: absolute;
    right: -8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 6px solid transparent;
    border-left-color: #615c5c;
}

.blazor-context-menu__item--default-disabled {
    min-width: 120px;
    padding: 6px;
    text-align: left;
    white-space: nowrap;
    position: relative;
    cursor: not-allowed;
    opacity: 0.6;
}

.blazor-context-menu--hidden {
    display: none;
}

/*------------ ANIMATIONS ------------*/

.blazor-context-menu__animations--fadeIn {
    animation-name: fadeIn;
    animation-direction: reverse;
    animation-duration: 0.3s;
}

.blazor-context-menu__animations--fadeIn-shown {
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
