<div class="card code-block">
    @if(!string.IsNullOrWhiteSpace(Title))
    { 
        <div class="card-header">
            @Title
        </div>
    }
    <div class="card-body">
        <pre><code class="language-@Language">@ChildContent</code></pre>
    </div>
</div>

@functions{
    [Parameter] string Title { get; set; }
    [Parameter] RenderFragment ChildContent { get; set; }
    [Parameter] string Language { get; set; }
}