.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }

        .main-nav .navbar {
            border-radius: 0px;
            border-width: 0px;
            height: 100%;
        }

        .main-nav .navbar-header {
            float: none;
        }

        .main-nav .navbar-collapse {
            border-top: 1px solid #444;
            padding: 0px;
        }

        .main-nav .navbar ul {
            float: none;
        }

        .main-nav .navbar li {
            float: none;
            font-size: 15px;
            margin: 6px;
        }

            .main-nav .navbar li a {
                padding: 10px 16px;
                border-radius: 4px;
            }

        .main-nav .navbar a {
            /* If a menu item's text is too long, truncate it */
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}

/* 
    Temporary workaround due to the <blazor-component> wrapper element. The wrapper element
    will be eliminated in a future update, making this workaround unnecessary.
*/
.navbar-nav > li a {
    color: #9d9d9d;
    line-height: 20px;
    position: relative;
    display: block;
}

    .navbar-nav > li a:hover {
        color: #fff;
        background-color: transparent;
        text-decoration: none;
    }

    .navbar-nav > li a:focus {
        text-decoration: none;
    }

.alert-survey {
    color: #6a6969;
    background-color: #e8e8e8;
    border-color: #d3d3d3;
    margin-top: 25px;
}

    .alert-survey a {
        font-weight: bold;
    }


/*=============== ICONS ==================*/

.blue-icon {
    color: #7aa2ff;
}

.red-icon {
    color: firebrick;
}



div.red-menu {
    color: #000000;
    background-color: #ffb3b3;
}

.red-menu .red-menu-item--with-submenu:after {
    border-left-color: #FFFFFF;
}

.red-menu .red-menu-seperator-hr {
    border-color: red;
}

.red-menu .red-menu-item--disabled,
.red-menu .red-menu-item {
    background-color: #ffb3b3;
}

    .red-menu .red-menu-item--disabled:hover,
    .red-menu .red-menu-item:hover {
        background-color: #c11515;
    }


div.dark-menu {
    color: #FFFFFF;
    background-color: rgba(52, 58, 64, 0.95);
    width: 200px;
    margin: 0;
    padding: 0;
}

.dark-menu .dark-menu-item--with-submenu:after {
    border-left-color: #d3d3d3;
}

.dark-menu .dark-menu-item--disabled,
.dark-menu .dark-menu-item {
    background-color: #444;
}

    .dark-menu .dark-menu-item--disabled:hover,
    .dark-menu .dark-menu-item:hover {
        background-color: #000000;
    }
