@page "/dynamicitems"
<h1>Dynamic Items</h1>
@{
    var tabItems = new List<TabItem>
    {
            new TabItem
            {
                HeaderText = "Demo",
                Contents = @<BlazorContextMenu.DemoApp.Client.Sources.DynamicItems />
        },
        new TabItem
        {
            HeaderText = "<> Source",
            Contents = @<div>
                            <SourceFileLoader SourceFilePath="Sources/DynamicItems.razor" />
                            <SourceFileLoader SourceFilePath="wwwroot/dynamicItemsInterop.js" />
                        </div>
        }
    };
}

<TabStrip Title="You can have menu items be enabled/visible dynamically depending on the targeted element" TabItems="tabItems" />